<div class="bg-blue-800 p-2 shadow text-xl text-white">
    <h3 class="font-bold pl-2"><%= t "devise.invitations.edit.header" %></h3>
</div>
<div class="flex flex-wrap">
    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
    <div class="md:flex md:items-center mb-6">
        <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    <%= f.hidden_field :invitation_token, readonly: true %>
    <% if f.object.class.require_password_on_accepting %>
    <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
            <%= f.label :password,:class => "block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
            <br/>
        </div>
        <div class="md:w-2/3">
            <%= f.password_field :password, autofocus: true, autocomplete: "password", :class => "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
    </div>
    <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
            <%= f.label :password_confirmation,:class => "block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
            <br/>
        </div>
        <div class="md:w-2/3">
            <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "password", :class => "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
    </div>
    <% end %>
    <div class="md:flex md:items-center mb-6">
        <div class="md:w-2/3">
            <%= f.submit t("devise.invitations.edit.submit_button"), :class => "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
        </div>
    </div>
    <% end %>
</div>
