<div class="bg-blue-800 p-2 shadow text-xl text-white">
    <h3 class="font-bold pl-2">All Locations - Listing of all the locations in the system</h3>
	<% if @my_location && @my_location != "" %>
		<h2 class="font-bold pl-2">My location:
			<% if @my_location.name && @my_location.name != "" %><%= @my_location.name %><% end %>
			<% if @my_location.address_1 && @my_location.address_1 != "" %>, <%= @my_location.address_1 %><% end %>
			<% if @my_location.address_2 && @my_location.address_2 != "" %>, <%= @my_location.address_2 %><% end %>
			<% if @my_location.city && @my_location.city != "" %>, <%= @my_location.city %><% end %>
			<% if @my_location.state && @my_location.state != "" %>, <%= @my_location.state %><% end %>
			<% if @my_location.zip && @my_location.zip != "" %>-<%= @my_location.zip %><% end %>
		</h2>
	<% end %>
</div>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= form_tag locations_path, method: :get do %>
  <% if params[:search] && params[:search] != "" %>
  	<% @search_val = params[:search] %>
  <% else %>
  	<% @search_val = "" %>
  <% end %>
  <%= text_field_tag :search, @search_val, :class => "bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
  <%= submit_tag 'Search', :class => "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
<% end %>
<% if @locations && @locations.length > 0 %>
	<table class="table-fixed" width="100%">
		<thead>
		<tr>
			<th class="w-1/2 px-4 py-2">Name</th>
			<th class="w-1/2 px-4 py-2">Website</th>
			<th class="w-1/2 px-4 py-2">Address</th>
			<th class="w-1/2 px-4 py-2">Zip</th>
			<th class="w-1/2 px-4 py-2">City, State</th>
			<th class="w-1/2 px-4 py-2">Phone</th>
			<th class="w-1/2 px-4 py-2">Fax</th>
			<th class="w-1/2 px-4 py-2">Status</th>
      		<th class="w-1/2 px-4 py-2"></th>
		</tr>
		</thead>
		<tbody>
		<%status_mapping = {'publish' => 'Published', 'private' => 'Private'}%>
		<% @locations.each do |location| %>
			<tr>
				<td class="border px-4 py-2"><%= location.name %></td>
				<td class="border px-4 py-2" style="width: 40%; word-break: break-all;"><%= location.website %></td>
				<td class="border px-4 py-2"><%= location.address_1 %><br /><%= location.address_2 %></td>
				<td class="border px-4 py-2"><%= location.zip.present? ? location.zip : '' %></td>
				<td class="border px-4 py-2"><%= location.city %>, <%= location.state %></td>
				<td class="border px-4 py-2"><%= location.phone_number %></td>
				<td class="border px-4 py-2"><%= location.fax_number %></td>
				<td class="border px-4 py-2"><%= status_mapping[location.status] %></td>
				<% if current_user && (current_user.admin? || ( current_user.manager? && current_user.id == location.user_id)) %>
					<td class="border px-4 py-4" style="display:flex;">
						<%= link_to '<span class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded inline-flex items-center"><i class="fas fa-edit"></i></span>'.html_safe, edit_location_path(location.id), class: "block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white", title: 'Edit Location'  %>
						<%= link_to '<span class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded inline-flex items-center"><i class="fas fa-trash"></i></span>'.html_safe, location_path(location.id), method: :delete, data: {confirm: "Are you sure? If you proceed, all Surgeons in this location will also be deleted."}, class: "block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white", title: 'Delete Location'  %>
						<%= link_to '<span class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded inline-flex items-center"><i class="fas fa-plus"></i></span>'.html_safe, new_surgeon_path(:location_id => location.id), class: "block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white", title: 'Add Surgeon'  %>
		            <%= link_to '<span class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded inline-flex items-center"><i class="fas fa-list"></i></span>'.html_safe, location_surgeons_path(:location_id => location.id), class: "block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white", title: 'Surgeons'  %>
		          </td>
				<% else %>
					<td class="border px-4 py-2">-</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
	</table>
	<div class="digg_pagination">
	    <div class="page_info">
	      <%= page_entries_info @locations %>
	    </div>
	    <%= will_paginate @locations, :container => false %>
    </div>
  <% else %>
  	<p class="pad-10">There are are no locations!</p>
  <% end %>
